<!-- Put you HTML contents here.

	Don't use "id", replace them with "class", replace "#id" with ".id" in "CSS.css" file and change accordingly in your "View.js" file 

-->
<div id="panel">
	<h3 class="tag_heading">Properties</h3>
	<div class="accordion_content">
		<div id="table_contain"><table id= "myTable" ></table></div>
	</div>
	<h3 class="tag_heading">Tag Information</h3>
		<div class="accordion_content">
			<div class="textbox_div" id="textbox_div" style="display:inline">
				<input class="mytext" type="text" id="mytext" placeholder="Enter level" ></input>
			</div>
			<div id="error" >Select value from list only</div>
			<div id="mycontainer" >
				<ul id="mno"></ul>
			</div>
			<button id="mybutton">Save</button>
		</div>
</div>​

